{% extends 'dashboard.html.twig' %}
{% block title %}
	Profile
{% endblock %}
{% block content %}
	<div class="col-lg-8 col-md-16">
		<div class="onboarding-content-box">
		  <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="card dash-cards">
                                    <div class="card-body">
                                        <div class="dash-top-content">
                                            <div class="circle-bar circle-bar1">
                                                <div class="circle-graph1" data-percent="75">
                                                    <img src="{{asset('dashboard/assets/img/icon-01.png')}}" class="img-fluid" alt="patient">
                                                </div>
                                            </div>
                                            <div class="dash-widget-info">
                                                <h6>Total Collect</h6>
                                                <h3>400</h3>
                                            </div>
                                        </div>
                                        <div class="dash-bottom-content">
                                            <h6> <span> <i class="fas fa-caret-up"></i> 9.5%</span> last Week</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="card dash-cards">
                                    <div class="card-body">
                                        <div class="dash-top-content">
                                            <div class="circle-bar circle-bar2">
                                                <div class="circle-graph2" data-percent="75">
                                                    <img src="{{asset('dashboard/assets/img/icon-03.png')}}" class="img-fluid" alt="patient">
                                                </div>
                                            </div>
                                            <div class="dash-widget-info">
                                                <h6>Total Offeres</h6>
                                                <h3>170</h3>
                                            </div>
                                        </div>
                                        <div class="dash-bottom-content">
                                            <h6> <span> <i class="fas fa-caret-up"></i> 5.5%</span> last Week</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="card dash-cards">
                                    <div class="card-body">
                                        <div class="dash-top-content">
                                            <div class="circle-bar circle-bar3">
                                                <div class="circle-graph3" data-percent="50">
                                                    <img src="{{asset('dashboard/assets/img/icon-4.png')}}" class="img-fluid" alt="patient">
                                                </div>
                                            </div>
                                            <div class="dash-widget-info">
                                                <h6>Total Points</h6>
                                                <h3>1400</h3>
                                            </div>
                                        </div>
                                        <div class="dash-bottom-content low-percent">
                                            <h6> <span> <i class="fas fa-caret-down"></i> 5.5%</span> Yesterday</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
			<div class="onboarding-title profile-title">
				<h2>Personnalisez votre profil
					
				</h2>
			</div>
			<div class="onboarding-content passcode-wrap mail-box">
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							{{ form_start(form) }}
							{% if app.session.flashBag.has('success') %}
								<div class="alert alert-success alert-dismissible fade show" role="alert">
									{{ app.session.flashBag.get('success')[0] }}
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
							{% endif %}
							
						</div>

						<div class="container">
							<div class="row">
								<div class="col">

									<div class="form-group">
										<label class="onboarding-lable">Nom

										</label>
										{{ form_widget(form.nom, {attr:{'class':'form-control'}}) }}
									</div>

								</div>
								<div class="col">

									<div class="form-group">
										<label class="onboarding-lable">Prenom

										</label>
										{{ form_widget(form.prenom, {attr:{'class':'form-control'}}) }}
									</div>

								</div>
								
							</div>
						</div>
	<div class="container">
							
							
								<div class="col">

									<div class="form-group local-forms">
										<label>Email

										</label>
										{{ form_widget(form.email, {attr:{'class':'form-control'}}) }}
										


									</div>

								</div>

									<div class="col">

									<div class="form-group">
										<label class="onboarding-lable">Telephone

										</label>
										{{ form_widget(form.tel, {attr:{'class':'form-control'}}) }}
									</div>

								</div>
							</div>
						

					

						

					

						<div class="container">
							<div class="row">
								<div class="col">
									<div class="col-lg-12">
										<div class="form-group">
											<label class="onboarding-lable">Addresse
											</label>
											{{ form_widget(form.adresse, {attr:{'class':'form-control'}}) }}
										</div>
									</div>
								</div>


							</div>
						</div>

					
						

					</div>


				</div>
				<div class="col-12">
					<div class="doctor-submit text-end">
						<div class="text-right">
							{{ form_row(form.Enregistrer , {attr:{'class':'btn btn-primary save-btn'}}) }}
						</div>

					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

